{% extends "main.html" %} {% load crispy_forms_tags %} {% block content %}
<br />
<div class="container-fluid">
  <div class="row justify-content-md-center">
    <div class="col-md-5">
      <div class="card card-body">
        <h3 align="center">Reset Password</h3>
        <br />
        <p>
          Lupa password? masukan alamat email yang sudah terdaftar dan i kuti
          instruksi selanjutnya
        </p>
        <form action="" method="POST">
          {% csrf_token %} {{ form|crispy }}
          <br />
          <input type="submit" class="btn btn-primary" value="Kirim Email" />
        </form>
        <br />
        <div class="border-top pt-3"></div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
